*{
    margin: 0px;
    padding: 0px;
}
body{
    align-items: center;
    background-color: black;
}
.main_heading{
    color: rgba(12, 12, 12, 0.685);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 16px;
    padding-bottom: 24px;
}
.from_text{
    color: rgb(10, 12, 12);
    font-family: fantasy;
}
.amount_text{
    color: rgb(10, 12, 12);
    font-family: fantasy;
}
.to_text{
    color: rgb(10, 12, 12);
    font-family: fantasy;
}
.value_text{
    color: rgb(10, 12, 12);
    font-family: fantasy;
}
.amount{
    padding: 16px;}
.to{
    padding: 16px;}
.from{
    padding: 16px;
}
.button{
    padding: 20px;
    
}
.value{
   padding: 16px;
}
.image{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.container{
    position: relative;
    text-align: center;
}
.wrapper{
    background: rgba(255, 255, 255, 0.596);
    border-radius: 16px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}